# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.ztow
.externalToolBuilders
.settings
.vscode
evedata-server
secret.yaml
secrets.yaml
configuration.sh
license.txt
debug
raw
sessions
profile.out
coverage.txt
teamspeakToken.txt
/bin/*
mock-local.sh
/json/*
__*