{{define "head"}}

{{end}}

{{define "body"}}
<script>
    $(document).ready(function () {
        getESJSON("/api/recent", function (data) {
            $('#output').DataTable({
                data: data,
                scrollY: "400px",
                searching: false,
                bSort: false,
                bInfo: false,
                ordering: false,
                paging: false,
                createdRow: function (row, data, dataIndex) {
                    switch (data.level) {
                        case "debug":
                            $(row).addClass('gambit-debug')
                            break;
                        case "warn":
                            $(row).addClass('gambit-warn')
                            break;
                        case "error":
                            $(row).addClass('gambit-error')
                            break;
                    }
                    if (data.sequence) {
                        $(row).addClass('gambit-hit')
                    }
                },
                columns: [
                    {
                        data: "hash", title: "hash", width: "17em",
                        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                            if (oData.hash != "da39a3ee5e6b4b0d3255bfef95601890afd80709")
                                $(nTd).html("<a href='/hash/" + oData.hash + "'>" + oData.hash + "</a>");
                        }
                    },
                    { data: "message", title: "msg", },
                    { data: "attacker", title: "ip", width: "7em" },
                    { data: "dstport", title: "port", width: "5em" },
                    { data: "sequence", defaultContent: "-", title: "s#", width: "2em" },
                ]
            })

            // scroll to bottom
            var table = $('#output').DataTable();
            var scrollBody = $(table.table().node()).parent();
            scrollBody.scrollTop(scrollBody.get(0).scrollHeight);
        });
    });

    function connect() {
        var ws = new WebSocket('ws://' + document.location.host + '/api/recent-ws');
        ws.onerror = function () {
            ws.close();
        };
        ws.onclose = function (e) {
            console.log('Socket is closed. Reconnect will be attempted.', e.reason);
            this.close();
            connect();
        };
        ws.onmessage = function (msgevent) {
            var msg = JSON.parse(msgevent.data);

            // remove gambit. and flatten the array response
            msg = Object.keys(msg).reduce((prev, current) =>
                ({ ...prev, [current.replace("gambit.", "")]: msg[current][0] }), {})

            $('#output').DataTable().row.add(msg);
            let remove = $('#output').DataTable().rows().count();
            while (remove > 100) {
                $('#output').DataTable().row(0).remove();
                remove--;
            }
            $('#output').DataTable().draw(false);

        };
    };
    connect()
</script>
<div class="container">
    <div class="row">
        <div class="col card">
            <h3>Recent Packets</h3>
            <table class="thintable display" id="output"></table>
        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{{end}}