{{define "head"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.0.0/d3.min.js"
    integrity="sha512-0x7/VCkKLLt4wnkFqI8Cgv6no+AaS1TDgmHLOoU3hy/WVtYta2J6gnOIHhYYDJlDxPqEqAYLPS4gzVex4mGJLw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dc/4.2.7/dc.min.js"
    integrity="sha512-vIRU1/ofrqZ6nA3aOsDQf8kiJnAHnLrzaDh4ob8yBcJNry7Czhb8mdKIP+p8y7ixiNbT/As1Oii9IVk+ohSFiA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"
    integrity="sha512-nlO6OGj6wb0uu/thpSry7qFal63hfhCLExpWxYomYB3tBznqWmKggsDHNHSLjnVaoade9tv/rErN498NSzwBnA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/4.2.7/style/dc.min.css"
    integrity="sha512-t38Qn1jREPvzPvDLgIP2fjtOayaA1KKBuNpNj9BGgiMi+tGLOdvDB+aWLMe2BvokHg1OxRLQLE7qrlLo+A+MLA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{{end}}

{{define "body"}}
<script>
    var cfData, cfDim;
    var charts = {};
    $(document).ready(function () {
        getESJSON("/api/passwordList", function (data) {
            cfData = crossfilter(data);
            cfDim = cfData.dimension(function (d) {
                if (!d.user)
                    d.user = ""
                return d["@timestamp"];
            });
            $('#output').DataTable({
                data: cfDim.top(10000),
                scrollY: "400px",
                searching: false,
                bSort: false,
                bInfo: false,
                ordering: false,
                paging: false,
                columns: [
                    { data: "user", title: "user" },
                    { data: "password", title: "password" },
                    { data: "attacker", title: "ip" },
                    { data: "@timestamp", title: "timestamp" },
                ]
            })

            const userDim = cfData.dimension(d => { return d.user; });
            const userGroup = userDim.group();

            const passwordDim = cfData.dimension(d => { return d.password; });
            const passwordGroup = passwordDim.group();


            const ipDim = cfData.dimension(d => { return d.attacker; });
            const ipGroup = ipDim.group();

            const driverDim = cfData.dimension(d => { if (!d.driver) return "unknown"; return d.driver; });
            const driverGroup = driverDim.group();

            const colors = d3.scaleOrdinal().range(d3.schemeDark2)
            charts.userChart = new dc.RowChart('#userChart')
                .width(240)
                .height(200)
                .group(userGroup)
                .colors(colors)
                .dimension(userDim)
                .elasticX(true)
                .cap(10)
                .xAxis().ticks(4);

            charts.ipChart = new dc.RowChart('#ipChart')
                .width(240)
                .height(200)
                .group(ipGroup)
                .dimension(ipDim)
                .colors(colors)
                .elasticX(true)
                .cap(10)
                .xAxis().ticks(4);

            charts.driverChart = new dc.RowChart('#driverChart')
                .width(240)
                .height(200)
                .group(driverGroup)
                .dimension(driverDim)
                .colors(colors)
                .elasticX(true)
                .cap(10)
                .xAxis().ticks(4);

            charts.passwordChart = new dc.RowChart('#passwordChart')
            .width(240)
                .height(200)
                .group(passwordGroup)
                .dimension(passwordDim)
                .colors(colors)
                .elasticX(true)
                .cap(10)
                .xAxis().ticks(4);

            dc.renderAll();

            dc.chartRegistry.list().forEach(function (chart) {
                chart.on('filtered', function () {
                    $('#output').DataTable().clear().rows.add(cfDim.top(500)).draw();
                });
            });
        });
    });
</script>
<div class="container">
    <div class="row">
        <div class="col card">
            <h3>Recent Passwords</h3>
            <table class="thintable display" id="output"></table>
        </div>
    </div>
    <div class="row">
        <div class="col card">
            <button onclick="dc.filterAll();dc.redrawAll();">Reset</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 fit-content card">
            <strong>msg type</strong>
            <div id="userChart"></div>
        </div>

        <div class="col-sm-2 fit-content card">
            <strong>ip</strong>
            <div id="ipChart"></div>
        </div>

        <div class="col-sm-2 fit-content card">
            <strong>driver</strong>
            <div id="driverChart"></div>
        </div>

        <div class="col-sm-2 fit-content card">
            <strong>password</strong>
            <div id="passwordChart"></div>
        </div>
    </div>
</div>
{{end}}