.hex_address {
    vertical-align: right;
}

.hex_base {
    float: left;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
    white-space: nowrap;
}

.hex_address, .hex_raw, .hex_text {
    padding: 5px;
    white-space: pre;
    display: inline-block;
    font-family: monospace;
    font-size: 12px;
}

.hex_textview {
    padding: 5px;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    display: none;
    font-family: monospace;
    width: 490px;
    font-size: 12px;
}

.hex_highlight {
    background-color: yellow ;
}

.hex_hover {
    background-color: coral;
}